django==2.2.20
gunicorn==20.0.4
django-cors-headers==3.2.1

# postgres client
psycopg2-binary==2.8.4

# storage(s3)
django-storages==1.9.1
boto3==1.12.22

# for file type checking
filetype==1.0.5

# for spleeter
ffmpeg-python==0.2.0
spleeter==1.4.9
pydub==0.23.1

# sentry monitoring
sentry-sdk==0.14.3
